.menucard{
    height:100px;
    width:100px;
    border:1px solid black;
    

}
.menu-container{
    display: inline-block;
    height:500px;
    width:350px;
    margin:20px;
    justify-content: space-between;
    background-color: #d9d4e7;
    border:3px solid #0e172c;
    border-radius: 5px;
    box-shadow:7px 7px 7px 0 #a786df;
    font-family: cursive;
   
}
.menu-img{
    height:250px;
    width:300px;



}
.menu-text{
    color:#0e172c;
    font-size: 25px;
}

